.all {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.em {
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.loginTitle {
    padding-bottom: 45px;
}
.login {
    display: inline-flex;
    text-align: center;
    align-items: center;
    transform: translateY(70px);
    justify-content: center;
    border: 3.5px solid white;
    border-radius: 20px;
    padding-bottom: 80px;
    flex-direction: column;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    user-select: none;
    color: rgb(255, 255, 255);
}
.buttonS {
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid white;
    user-select: none;
    color: white;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 2px;
    align-items: center;
    text-align: center;
    transition: background-color 0.3s ease;
}
.buttonS:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
input {
    background-color: #0e0e0e;
    color: white;
    border-color: white;
    border-radius: 5px;
    padding: 2px;
}
.bottom-padding {
    padding-bottom: 5px;
}

.signup-link {
    color: cyan;
    border: transparent;
}
::placeholder {
    color: white;
    opacity: 0.6;
}
input:focus::placeholder {
    background-color: #222;
    font-weight: bold;
    opacity: 0.7;
}
input:focus-visible {
    background-color: #222;
    font-weight: bold;
}
input::-ms-input-placeholder {
    font-weight: bolder;
}